/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/coverage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env*
/mysql-data
/docker/data
auth.json
*.appimage
